html,body,ul,p,h1,button{
	margin: 0;
	padding: 0;	
	font-family: "微软雅黑";
	color: #fff;
}
body{background: #ddf1f0;}
ul li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}

.top {
	width: 1366px;
	height: 908px;
	margin: 0 auto;
	background: url(../img/banner.png) no-repeat;
	background-size: cover;
}

.nav{
	float: left;
	width: 1366px;
	height: 80px;
	margin-top: 828px;
	text-align: center;	
	background: rgba(3,15,31,0.71);
	line-height: 80px;
}

.nav>li {
	float: left;
	font-size: 20px;
	margin:auto 60px auto 60px;
	height: 80px;
}
.main{
	height: 1585px;
	width:1366px;
	background: pink;
	margin: 0 auto;
}
.footer{
	height: 521px;
	width:1366px;
	background: deeppink;
	margin: 0 auto;
	
}	
.mainTop{	height: 753px;
			width: 1366px;
			background: #82adb3;
}
.mainTle,.mainTri{		
		height: 640px;
		width: 522px;		
		border: 2px solid pink;
		
}

.mainTle{float: left;
		margin-left:50px;
		margin-top: 65px;}
.mainTri{float: right;
		margin-right:50px;
		margin-top: 65px;}
.text-title{
	font-size: 44px;
	font-weight: bold;}
#search{width: 300px;
		height: 50px;
		font-size: 22px;}
#sure{width: 100px;
		height: 50px;
		background: #2b414b;
		color: #fff;
		font-size: 22px;
		cursor: pointer;
		border: none;
		}
.thoseYears{
	margin-left: 50px;	
	width: 500px;
}
.thoseYears>li{	
	width: 400px;
	border-bottom: 2px solid black;
	font-size: 20px;
	color: #000000;
	margin-bottom: 30px;
}
.tb1{height:30px ;width: 30px;background:url(../img/logo.png) ;display: inline-block;

}
